* {
    margin: 0px;
    padding: 0px;
}

#content {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#buttondiv {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 150px;
    background: green;
}

